@page
@model FashionBiz.App.Pages.User.ListModel
@{
    ViewData["Title"] = "Users";
    Layout = "~/Pages/Shared/_FashionMainLayout.cshtml";
}

<table class="table datatable">
    <thead>
        <tr>
            <th>
                User Id
            </th>
            <th>
                Username
            </th>
        </tr>
    </thead>
    <tbody>
         @foreach (var item in Model.userListViewModels)
        {
        <tr>
        <td>
        @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.Username)
        </td>
        </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function() {
            getusers()

            //function saveGeneralKnowledgeAnswers() {
            //    debugger;
            //    let answers = [];

            //    let subject = "General Knowledge";
            //    var applicantAnswerSummaryId = 0;
            //    var sessionId = 0;

            //    var score = 0; ApplicantId
            //    let applicantId = $('#ApplicantId').val();

            //    for (let i = 1; i <= 5; i++) {

            //        let questionNumberField = "GeneralKnowledgeQuestion" + i + "Number";
            //        var questionNumber = $("#" + questionNumberField).text();

            //        let selectedAnswerField = "GeneralKnowledgeQuestion" + i + "Option";
            //        let selectedAnswer = $("input[type='radio'][name='" + selectedAnswerField + "']:checked").val();

            //        let answer = new prepareAnswerObject(applicantAnswerSummaryId, sessionId, questionNumber, score, applicantId, subject, selectedAnswer, false);
            //        answers.push(answer);
            //    }

            //    if (answers.length > 0) {
            //        let request = JSON.stringify(answers);
            //        $.ajax({
            //            url: '../api/ApplicantAnswerDetails/saveAnswers',
            //            dataType: 'json',
            //            contentType: "application/json",
            //            type: "POST",
            //            data: request,
            //            success: function (response) {
            //                alert("General Knowledge submitted successfully");
            //            }
            //        });
            //    }

            //}
            //function getAnswerDetailByApplicantId() {
            //    let applicantId = $('#ApplicantId').val();
            //    $.ajax({
            //        url: '../api/ApplicantAnswerDetails/GetAnswerDetailByApplicantId',
            //        cache: false,
            //        type: 'GET',
            //        contentType: 'application/json',
            //        async: false,
            //        data: {
            //            applicantId: Number(applicantId)
            //        },
            //        success: function (response) {
            //            debugger;
            //            if (response !== null) {
            //                if (response.length > 0) {
            //                    alert("Applicant has already done the aptitude test. Kindly check applicant result");
            //                }
            //                else {
            //                    document.getElementById("general-knowledge-card").style.display = "block"
            //                    document.getElementById("startGeneralKnowledgeButton").style.display = "none";
            //                    getGeneralKnowledgeQuestions();
            //                    timer();
            //                }
            //            }
            //            else {
            //                document.getElementById("general-knowledge-card").style.display = "block"
            //                document.getElementById("startGeneralKnowledgeButton").style.display = "none";
            //                getGeneralKnowledgeQuestions();
            //            }
            //        },
            //        error: function (error) {
            //            //alert("Error occured");//To avoid alerting if no internet connection.
            //            console.log(error);
            //        }
            //    });
            //}

        })

        function getusers() {
            debugger;
            $.ajax({
                url: 'http://localhost:5029/api/user/',
                dataType: 'json',
                cache: false,
                type: 'GET',
                contentType: 'application/json',
                async: false,
                success: function(response) {
                    console.log(response);
                    debugger;
                    if (response !== null) {
                        for (let i = 0; i < response.length; i++) {
                            //$('#GeneralKnowledgeQuestion1Number').text(response[i].questionNumber);
                        }
                    }
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }
    </script>
}