@page
@model FashionBiz.App.Pages.Customer.NewMeasurementModel
@{
    ViewData["Title"] = "New Measurement";
    Layout = "~/Pages/Shared/_FashionMainLayout.cshtml";
}


<div class="pagetitle">
    <h1>New Measurement</h1>
</div>
<hr />
<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <form asp-action="">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Garment Type</label>
                    <div class="col-sm-6">
                        <select asp-for="GarmentType" name="GarmentType" id="GarmentType" class="form-control">
                            <option value="Select" selected>Select</option>
                            <option value="Thoup">Thoup"></option>
                            <option value="Garment 1">Garment 1</option>
                            <option value="Garment 2">Garment 2</option>
                        </select>
                    </div>
                </div>



                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">General Size</label>
                    <div class="col-sm-6">
                        <select asp-for="Generalsize" name="Generalsize" id="Generalsize" class="form-control">
                            <option value="Select" selected>Select</option>
                            <option value="Large">Thoup"></option>
                            <option value="Medium">Medium</option>
                            <option value="Small">Small</option>
                        </select>
                    </div>
                </div>


                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Chest</label>
                    <div class="col-sm-6">
                        <input type="number" id="Chest" name="Chest" class="form-control" />
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Collar</label>
                    <div class="col-sm-6">
                        <input type="number" id="Collar" name="Collar" class="form-control" />
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Sex</label>

                    <div class="col-sm-6">
                        <select name="Subject" id="sex" class="form-control">
                            <option value="Select" selected>Select</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Address Line 1</label>
                    <div class="col-sm-6">
                        <textarea name="address_line_1" class="form-control"> </textarea>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Address Line 2</label>
                    <div class="col-sm-6">
                        <textarea name="address_line_2" class="form-control"> </textarea>
                    </div>
                </div>
                <div class="row mb-3">
                    <input type="submit" value="Create" class="btn btn-primary col-sm-6 offset-md-2" />
                </div>
            </form>
        </div>
    </div>
</section>
